* {
    box-sizing: border-box;
}

body {
    margin: 10px 70px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

/***************header content*****************/

.header-content-container {
    display: flex;
    align-items: stretch;
    border: 2px solid blue;
}

.header-content-container > div {
    width: 50%;
    border: 2px solid red;
}

.img-placeholder-container {
    display: flex;
    justify-content: center;
}

.img-placeholder {
    border: 2px solid seagreen;
    text-align: center;
    align-self: center;
}